@model DatabaseConfigurations.Models.FooConfiguration
@{
    ViewBag.Title = "Database Configurations";
}

<div class="jumbotron">
    <h2>FooConfigurations</h2>
    <div style="margin-top: 48px;">
        <p>Url: @Model.Url</p>
        <p>Username: @Model.Username</p>
        <p>Password: @Model.Password</p>
    </div>
</div>

